Source: lliurex-java-panel
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10),
			dh-python,
			llxsrchelper,
			zero-dev,
			python3-poinstaller,
			python3-setuptools,
			python3-all,
			pybuild-plugin-pyproject
Standards-Version: 4.1.2

Package: lliurex-java-panel
Architecture: all
Depends: ${misc:Depends},python3,qml-module-termwidget,pyside6-tools,python3-pyside6.qtqml, python3-pyside6.qtquick, python3-pyside6.qtgui, python3-pyside6.qtwidgets, python3-pyside6.qtquickwidgets, python3-pyside6.qtsvg
Description: Lliurex Java Panel Administration
 Application to install and configure different java versions


