Source: lliurex-java-panel
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10),
			dh-python,
			llxsrchelper,
			zero-dev,
			python3-poinstaller,
			python3-setuptools,
			python3-all,
			 pybuild-plugin-pyproject
Standards-Version: 4.1.2

Package: lliurex-java-panel
Architecture: all
Depends: ${misc:Depends}, python3
Description: Lliurex Java Panel Administration
 Application to install and configure different java versions


